<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2 class="py-3">El ataque del coronavirus</h2>
            </div>
            <div class="col-md-8">
                <div class="card card-default">
                    <form v-on:submit.prevent="enviar()">
                        <div class="modal-body">
                            <div class="col-12 form-group">
                                <label for="titulo">Ciudad para atacar</label>
                                <input type="text" name="titulo" class="form-control" v-model="titulo" >
                            </div>
                        </div>  
                        <div class="modal-footer justify-content-center">
                            <button type="submit" class="btn btn-light" name="busq-city">Buscar</button>
                        </div>  
                    </form>
                </div>
            </div>
            <div class="col-md-8 mt-2" v-show="!isVacio(datos)">
                <h3>Ciudades limpias del virus</h3>
                <!-- Tiempo demorado: <span v-html="this.datos"></span> -->
                <div v-for="ciudad in ciudades">
                    <div :ref="'ciudad'+ciudad.ID" class="row">
                        <div class="col-7">
                            <p>♠<span v-html="ciudad.Name"></span> (País <span v-html="ciudad.CountryCode"></span> - Población <span v-html="ciudad.Population"></span>)</p>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-danger" @click="DestruirCiudad(ciudad)"> Infectar 😈!!!!!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'

    export default {
        name: 'busqueda',
        props: {
            url: {
                type: String,
                required: true,
                default: ''
            },   
        },
        data() {
            return  {
                titulo: '',
                ciudades: {},
                datos: '',
            }
        },
        methods: {
            enviar() {
                axios.post(this.url+'/tags', {titulo: this.titulo}).then((resp) => {
                    this.datos= resp.data.datos.execution_time
                    this.ciudades = resp.data.ciudad
                }).catch((error) => {
                    error = error.response
                });                 
            },
            DestruirCiudad(ciudad){
                axios.post(this.url+'/destruir', {id: ciudad.ID , nombre: ciudad.Name }).then((resp) => {
                    alert('Infectado jajajjaja');
                    this.enviar();
                }).catch((error) => {
                    error = error.response
                }); 
            },
            isVacio(val){
                if(val == "" || val == undefined || val == null || val == " "){
                    console.log('asdasd');
                    return true;
                }else{
                    return false;
                }
            }
        },
        mounted() {

        }
    }
</script>
