<template>
    <div>
        <div class="card-body" v-show="!permiso">
            <h4>Crear token</h4>
            <h6>Aqui se genera el token con la llave secreta que se le dío con el id cliente</h6>
            <div>
                <form role="form">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">LLave secreta</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="password" v-model="body.client_secret">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Id cliente</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="password" v-model="body.client_id">
                        </div>
                    </div>
                    <span class="text-danger" v-html="errores"></span>
                </form>
                <button type="button" class="btn btn-primary" @click="store">
                    Create
                </button>
            </div>
            <div class="mt-2">
                <h6>Esta es la llave secreta ejemplo: tm9c7jx02ITTrpGHsRA3OrJTZjN2JODhuZU1DFzv</h6>
                <h6>Esta es el id del cleinte ejemplo: 7</h6>
            </div>
        </div>
        <div class="card-body" v-show="permiso">
            <div class="row justify-content-center">
                <div class="col-12 mb-2">
                    Este es para mostrar el listado de las ciudades al enviar un token gracias a la autorizacion de Client credentials Grand tokens.
                </div>
                <div class="col-12">
                    <h6>Ejemplos de datos traidos</h6>
                    <table>
                        <th>Id</th>
                        <th>Nombre de ciudad</th>
                        <th>Pais codigo</th>
                        <tr v-for="n in reversedMessage">
                            <td >{{ n.ID }}</td>
                            <td >{{ n.Name }}</td>
                            <td >{{ n.CountryCode }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                body: {
                    client_id: '',
                    client_secret: '',
                    grant_type: 'client_credentials'
                },
                url: '/api/munditos',
                cities: [],
                permiso: false,
                errores: '',
            }
        },
        computed: {
            reversedMessage: function () {
                return this.cities.splice(-15)
            }
        },
        methods: {
            store() {
                this.errores = ''
                axios.post('/oauth/token', this.body ).then((resp) => {
                    console.log('funciones perras')
                    localStorage.setItem('client_credentials',resp.data.access_token)
                    alert('Token generado correctamente!!')
                    this.verMundos()
                }).catch((error) => {
                    var mess = error.response.data.message;
                    this.errores = mess
                });
            },
            verMundos() {
                if (localStorage.getItem('client_credentials')) {
                    axios.get(this.url, {headers: {'Authorization' : 'Bearer ' + localStorage.getItem('client_credentials') } }).then((resp) => {
                        this.cities = resp.data
                        this.permiso = true
                    }).catch((error) => {
                        var mess = error.response.data.message;
                        this.errores = mess
                    })
                }
            }
        },

        mounted() {
            this.verMundos()
            console.log('montado')
            console.log('Estamos comprobando la consola')
        }
    }
</script>
