<template>
    <div>
        <div class="card-body">
            <h4>Token personal ya generado</h4>
            <div class="card-body" v-show="permiso">
                <div class="row justify-content-center">
                    <div class="col-12 mb-2">
                        Este es para mostrar el listado de las ciudades al enviar un token gracias a la autorizacion personal.
                    </div>
                    <div class="col-12">
                        <h6>Ejemplos de datos traidos</h6>
                        <table>
                            <th>Id</th>
                            <th>Nombre de ciudad</th>
                            <th>Pais codigo</th>
                            <tr v-for="n in reversedMessage">
                                <td >{{ n.ID }}</td>
                                <td >{{ n.Name }}</td>
                                <td >{{ n.CountryCode }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                body: {
                    username: '',
                    password: '',
                    client_id: '',
                    client_secret: '',
                    grant_type: 'password'
                },
                url: '/api/mundo-personal',
                cities: [],
                permiso: false,
                errores: '',
            }
        },
        computed: {
            reversedMessage: function () {
                return this.cities.splice(-15)
            }
        },
        methods: {
            verMundos() {
                let token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjgwZTllOWY1OTRmNzJiNTJhYTk5NjUwOTRlNmY4YTRkZGQxYTBiZWJhODUzM2JkNTAyMDFhMDllNmE1YjY3Y2NlMGE3NjJhY2EwNzBiZmUyIn0.eyJhdWQiOiI4IiwianRpIjoiODBlOWU5ZjU5NGY3MmI1MmFhOTk2NTA5NGU2ZjhhNGRkZDFhMGJlYmE4NTMzYmQ1MDIwMWEwOWU2YTViNjdjY2UwYTc2MmFjYTA3MGJmZTIiLCJpYXQiOjE1NjIxOTA2NTMsIm5iZiI6MTU2MjE5MDY1MywiZXhwIjoxNTkzODEzMDUyLCJzdWIiOiIxNyIsInNjb3BlcyI6W119.AQQWZ5p15k3KaS_Y1x4Ta4Jh1FM80nycQ1IiP7raYkRC_VlY1CyKjcx5DWfi-J_zRPz76Uzel7S7KXe16Mt-EVZ_WlHkRbx-LhjEBp1w7iXu-MTaVm2MAMu7uxEtMwGNERVfKOCHfJpzRTC_K_WJmC9jQUq9tXCzcT8kMnqRe0CalPRRJIVkTQZ8KuszOCjdk9YpE4zT5-WPPENQ6SYP2ip9rY6erWtyRjFwUbpj8_O4YeEey5H3dzAfPoeB1EiHQ2u_hmrGVhRUnCVe6_6rX2oay4jLgDklWs4VMOx0rhsXUFv5VzPHSV72tZCbCQZnernwQPDRcR-oyj7MNInDi7Mod1Kle6505t7L7iQM4r3zHZtBB661g35XQj_54oCX-4AbaWeVMfmhy7Bqh0qt9s5Sha5g0R9po5rwCqHHD9Maqg07Og5F1CnyJQpzgqQC5KFm87Ga5EpUiub7CMZjisOBpNaBmmtnthl9wuaC2ym7rNHCRa9leHwgEKJatlRK-7SuVyWKe_SuvC7wwsWXHRZTDzkRvGSS9zzPxNa47cm8RLaLK99o3Wxs8OGSl9SaEWDmYaBRLYe3capgZlYA42iqypCtm1FawPF3EGj4SP08O0xNQLsoSmwp-6hUPvJZBIbj_hBBh27kpWOi5qCzm9sVIPtr-o_vhT3yMUNNfSc';

                axios.get(this.url, {headers: {'Authorization' : 'Bearer '+ token } }).then((resp) => {
                    this.cities = resp.data
                    this.permiso = true
                }).catch((error) => {
                    console.log(error)
                })
            }
        },

        mounted() {
            this.verMundos()
            console.log('montado')
            console.log('Estamos comprobando la consola')
        }
    }
</script>
