<template>
    <div>
        <div class="card-body">
            <h4>Crear token</h4>
            <h6>Aqui se genera el token con la llave secreta que se le dío con el id cliente</h6>
            <div>
                <form role="form">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Email</label>
                        <div class="col-md-9">
                            <input id="username" type="text" class="form-control" v-model="body.username">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Password</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="password" v-model="body.password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">LLave secreta</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="password" v-model="body.client_secret">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Id cliente</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="password" v-model="body.client_id">
                        </div>
                    </div>
                    <span class="text-danger" v-html="errores"></span>
                </form>
                <button type="button" class="btn btn-primary" @click="store">
                    Create
                </button>
            </div>
        </div>
        <div class="card-body" v-show="permiso">
            <div class="row justify-content-center">
                <div class="col-12 mb-2">
                    Este es para mostrar el listado de las ciudades al enviar un token gracias a la autorizacion de password.
                </div>
                <div class="col-12">
                    <h6>Ejemplos de datos traidos</h6>
                    <table>
                        <th>Id</th>
                        <th>Nombre de ciudad</th>
                        <th>Pais codigo</th>
                        <tr v-for="n in reversedMessage">
                            <td >{{ n.ID }}</td>
                            <td >{{ n.Name }}</td>
                            <td >{{ n.CountryCode }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                body: {
                    username: '',
                    password: '',
                    client_id: '',
                    client_secret: '',
                    grant_type: 'password',
                },
                url: '/api/mundos',
                cities: [],
                permiso: false,
                errores: '',
            }
        },
        computed: {
            reversedMessage: function () {
                return this.cities.splice(-15)
            }
        },
        methods: {
            store() {
                this.errores = ''
                axios.post('/oauth/token', this.body ).then((resp) => {
                    localStorage.setItem('token',resp.data.access_token)
                    alert('Token generado correctamente!!')
                    this.verMundos()
                }).catch((error) => {
                    var mess = error.response.data.message;
                    this.errores = mess
                });
            },
            verMundos() {
                if (localStorage.getItem('token')) {
                    axios.get(this.url, {headers: {'Authorization' : 'Bearer ' + localStorage.getItem('token') } }).then((resp) => {
                        this.cities = resp.data
                        this.permiso = true
                    }).catch((error) => {
                        console.log(error)
                    })
                }
            }
        },

        mounted() {
            this.verMundos()
            console.log('montado')
            console.log('Estamos comprobando la consola')
        }
    }
</script>
